.navbar{
    width: 100%;
    background-color: #F3F0F5;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;

        .log-reg{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            gap: 15px;
            width: 20%;
            

            .link-arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                .arrow-left{
                    display: flex;
                    font-size: 16px;
                    color: #213547;
                }
            }
            
            .sign{
                text-decoration: none;
                color: #213547;
                border: 1px solid #213547;
                border-radius: 10px;
                padding: 6px;
                align-items: center;
                
            }

            .up{
                background-color: #213547;
                color: #fff;
            }

            .in:hover{
                border: 1px solid #5684FD;
                color: #5684FD;
            }

            .up:hover{
                color: #5684FD;
                background-color: #fff;
                border: 1px solid #5684FD;
            }

            .sign:hover{
                border: 1px solid #5684FD;
                color: #5684FD;
            }

            .profile{
             
                
            }

            .logout{
                border-radius: 5px;
                padding: 4px 8px;
                border: none;
                font-size: 14px;  
            }

            .logout:hover{
                color: #5684FD;
                border: 1px solid #5684FD;
            }
        }

        .title{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1;
            .mainTitle{
                font-size: 2.5rem;
                font-family: Agbalumo;
                margin: 0;
                color: #213547;
            }
            .secondaryTitle{
                margin: 0;
                color: #213547;
                font-size: 1.3rem;
            }
        }

        .button-icon{
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 20%;
       
            .buttons{
                display: flex;
                gap: 20px;
                
                .itemsMenu{
                    text-decoration: none;
                    color: #213547;
                    border-radius: 10px;
                    padding: 6px;
                    align-items: center;
                    border: 1px solid transparent;
                }

                .itemsMenu:hover{
                    color: #5684FD;
                    border: 1px solid #5684FD;
                }
            }
            .cartIcon{
                display: flex;
                justify-content: center;
                color: #213547;
                margin-right: 40px;
                align-items: center;
                font-size: 18px;
                position: relative;
    
                .number{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #2879fe;
                    color: #fff;
                    position: absolute;
                    right: -15px;
                    top: -3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .car:hover{
                    color: #2879fe;
                }
            }
        }
    }
}