body{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: #F3F0F5;
    padding: 20px 0;
    

    .menu{
        display: flex;
        align-items: center;
        width: 80%;

        @media (max-width: 1000px) {
            width: 100%;
        }

        .log-reg{
            display: flex;  
            gap: 15px;
            flex: 1;
            @media (max-width: 1000px) {
                display: none;
            }
            
            .sign{
                text-decoration: none;
                color: #213547;
                border: 1px solid #213547;
                border-radius: 10px;
                padding: 6px;
            }

            .up{
                background-color: #213547;
                color: #fff;
            }

            .in:hover{
                border: 1px solid #5684FD;
                color: #5684FD;
            }

            .up:hover{
                color: #5684FD;
                background-color: #fff;
                border: 1px solid #5684FD;
            }

            .sign:hover{
                border: 1px solid #5684FD;
                color: #5684FD;
            }

            .logout{
                border-radius: 5px;
                padding: 4px 8px;
                border: none;
                font-size: 14px;  
            }

            .logout:hover{
                color: #5684FD;
                border: 1px solid #5684FD;
            }
        }

        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
            color: #213547;
            flex: 1;
            @media (max-width: 1000px) {
                align-items: flex-start;
                margin-left: 30px;
            }

            .mainTitle{
                font-size: 2.5rem;
                font-family: Agbalumo;
                margin: 0;
            }
            
            .secondaryTitle{
                margin: 0;
                font-size: 1.3rem;
                @media (max-width: 1000px) {
                    margin-left: 30px;
                }
            }
        }

        .button-icon{
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            flex: 1;
            
            .buttons{
                display: flex;
                gap: 20px;
                
                .itemsMenu{
                    text-decoration: none;
                    color: #213547;
                    border-radius: 10px;
                    padding: 6px;
                    border: 1px solid transparent;

                    @media (max-width: 1000px) {
                        display: none;
                    }
                }

                .itemsMenu:hover{
                    color: #5684FD;
                    border: 1px solid #5684FD;
                }

                .menu-responsive{
                    display: none;
                    @media (max-width: 1000px) {
                        display: flex;
                        font-size: 1.5rem;
                    }
                }
            }
            .cartIcon{
                display: flex;
                color: #213547;
                margin-right: 15px;
                align-items: center;
                font-size: 18px;
                position: relative;
                cursor: pointer;
    
                .number{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #2879fe;
                    color: #fff;
                    position: absolute;
                    right: -11px;
                    top: 0px;
                    @media (max-width: 1000px) {
                        top: -5px;
                    }
                }

                .car:hover{
                    color: #2879fe;
                }
            }
        }
    }
}