.navbar{
    width: 100%;
    background-color: #35363C;
    height: 50px;
    display: flex;

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .log-reg{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 20px;
            gap: 15px;

            .link-arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                .arrow-left{
                    display: flex;
                    font-size: 16px;
                    color: white;
                }
            }
            
            .sign{
                display: flex;
                flex-direction: row;
                text-decoration: none;
                color: white;
                align-items: center;
                gap: 5px;
            }

            .profile{
                padding-left: 10px;
                border-left: 2px solid white;
            }

            .logout{
                border-radius: 5px;
                padding: 4px 8px;
                border: none;
                font-size: 14px;
            }
        }

        .cartIcon{
            display: flex;
            justify-content: center;
            color: white;
            margin-right: 40px;
            align-items: center;
            font-size: 18px;
            position: relative;

            .number{
                font-size: 12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #2879fe;
                
                position: absolute;
                right: -15px;
                top: -10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}