.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(17, 17, 17);
    height: 165px;
    font-family: "Nunito Sans", sans-serif;
    

    .box-footer{
        display: flex;
        flex-direction: row;
        width: 88%;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 480px) {
            flex-direction: column;
            justify-content: center;
            
        }

        .left{
            .name-footer{
                color: white;
                font-size: 0.9rem;
                @media (max-width: 480px) {
                   font-size: 0.8rem;
                }
                @media (max-width: 375px) {
                    font-size: 0.7rem;
                 }
            }
        }

        .right{
            display: flex;
            flex-direction: row;
            color: white;
            gap: 1rem;

            .option{
                font-size: 0.9rem;
                opacity: 0.8;
                @media (max-width: 480px) {
                    font-size: 0.8rem;
                 }

                @media(max-width: 375px) {
                    font-size: 0.7rem;
                }
            }

            .rights{
                opacity: 0.5;
                font-size: 0.9rem;
                @media (max-width: 480px) {
                    font-size: 0.8rem;
                }
                @media (max-width: 480px) {
                    font-size: 0.7rem;
                }
            }
        }
    }
}