.form{
    background-color: #F3F0F5;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Montserrat, sans-serif;
    @media (max-width: 768px) {
        justify-content: flex-start;
    }
    
    .menu-add{
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;

        .new-product-div{
            display: flex;
            justify-content: center;

            .new-product{
                text-align: center;
            }
        }
    
        .container-info{
            
        }
       
        .div-product{
            display: flex;
            justify-content: flex-start;
            margin-left: 50px;
            font-size: 1.2rem;
            font-weight: 500;
            @media (max-width: 475px) {
                margin-left: 20px;
            }
        }

        .new-product{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            margin-left: 50px;
            opacity: 0.8;
            @media (max-width: 768px) {
                width: 100%;
                justify-content: flex-start;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
            }
            
        }

        .title-product{
            width: 50%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc; 
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 90%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 100%;
            }
        }

        .title-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .description-product{
            width: 50%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 90%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 100%;
            }
        }

        .brand-product{
            width: 20%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 90%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 100%;
            }
        }

        .category-product{
            width: 30%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 90%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 100%;
            }
        }

        .button-main{
            width: 50%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            @media (max-width: 768px) {
                width: 45%;
            }
            @media (max-width: 475px) {
                width: 70%;
                margin-left: 20px;
            }
        }

        .description-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .image-product{
            width: 50%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 90%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
            }
        }

        .image-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .divURL{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            width: 300px;
            height: 300px;
            margin-left: 50px;
            box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.1);
            margin-bottom: 15px;
            

            .imgURL{
                width: 200px;
                height: 200px;
            }
        }

        .color-product{
            width: 10%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 20%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 40%;
            }
        }

        .input-main-features{
            width: 50%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 20%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
            }
        }

        .color-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .size-product{
            width: 10%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 20%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
            }
        }

        .size-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .material-product{
            width: 496px;
            height: 50px;
            margin-left: 50px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 400px;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 300px;
            }
            @media (max-width: 375px) {
                width: 250px;
            }
        }

        .material-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .instructions-product{
            width: 496px;
            height: 50px;
            margin-left: 50px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 400px;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 300px;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 300px;
            }
            @media (max-width: 375px) {
                width: 250px;
            }
        }

        .instructions-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .price-product{
            width: 10%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            outline: none; 
            border: 1px solid #ccc;
            border-radius: 8px;
            @media (max-width: 768px) {
                width: 20%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 40%;
            }
        }

        .price-product:hover{
            border-color: rgba(86, 132, 253, 0.5);
        }

        .formButton{
            width: 10%;
            margin-left: 50px;
            padding: 10px;
            margin-bottom: 15px;
            @media (max-width: 768px) {
                width: 20%;
            }
            @media (max-width: 475px) {
                margin-left: 20px;
                width: 30%;
            }
        }
    }
}