.addresses{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    margin-top: 60px;
    height: auto;

    .main-addresses{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
       
        height: 100%;

        .addresses-options{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            margin: 15px 0;

            .title-addresses{
                font-size: 2rem;
            }

            .create-product{
                position: absolute;
                background-color: #2879fe;
                padding: 10px 40px;
                right: 0;
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    background-color: #1960d1;
                }
            }
        }

        .products-addresses-profile{
            
            margin: 15px 0;
            text-decoration: none;
            width: 60%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #ffffff;

            .products-main-profile-addresses{
                display: flex;
                align-items: center;
                position: relative;
                background-color: #ffffff;
                width: 100%;
                height: 55px;
                color: black;
               

                .addresses-elements{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 10px;
                    width: 100%;

                    .product-info-profile-addresses{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        justify-content: center;
    
                        .div-point-addresses{
                            display: flex;
                            font-size: 20px;
                            
                            .point-addresses{
                                color: green;
                            }

                            .point-addresses-false{
                                
                                cursor: pointer;
                            }
                        }
    
                        .welcome-dirstore{
                            font-size: 1.2rem;
                        }
                    }

                    .welcome-date{
                        display: flex;
                        color: #858080;
                        gap: 10px;
                        font-size: 20px;

                        .edit{
                            color: #000;
                        }

                        .trashcan{
                            color: #000;
                        }

                        .trashcan:hover{
                            color: red;
                            cursor: pointer;
                        }
                    }
                }

                .line{
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(-90deg, #858080, #00000000 100%);
                    bottom: 0;
                    position: absolute;
                }
            }
        }
    }

    .addDirection{
        background-color: #2879fe;
        padding: 10px 40px;
        text-decoration: none;
        border: 1px solid transparent;
        color: #ffffff;
    }

    .addDirection:hover{
        cursor: pointer;
        opacity: 0.8;
        
    }
}

.addresses-alt{
    align-items: flex-start;
    

    .main-addresses-alt{
        justify-content: flex-start;
    }
}