.delivery-progress-container {
    margin: 1rem;
    width: 380px;

    .delivery-finished {
        text-align: center;
        color: green;
    }

    .processing{
        text-align: center;
    }

    .arrive{
        text-align: center;
        color: #ffffff;
    }

    .delivery-container {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        .delivery-inner {
            margin: 10px;
            width: 100%;
            height: 8px;
            border-radius: 4px;
            background: linear-gradient(135deg, #202020 35%, #303030 52%, #404040 60%, #202020 65%);
            background-size: 300%;
            animation: loaderSwipeAnim2 3s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;

            .delivery-bar {
                height: 100%;
                background: green;
                position: relative;
                border-radius: 5px;
            }

            .delivery-pointer {
                margin: 0 !important;
                position: absolute;
                right: -0.75rem;
                top: -85%;
                z-index: 10;
            }

            .delivery-pointer path {
                fill: white;
            }

            .delivery-pointer-back {
                min-height: 2.2rem;
                min-width: 2.2rem;
                border: 1px solid white;
                border-radius: 50%;
                background: rgb(0, 0, 0);
                position: absolute;
                right: -1.1rem;
                top: -160%;
            }
        }
    }
}










