.favorites{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 850px;
    height: auto;
    margin-bottom: 50px;
    width: 100%;
    
    .main-favorites{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;

        .favorites-options{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .title-favorites{
                font-size: 2rem;
            }

            .create-product{
                position: absolute;
                background-color: #2879fe;
                padding: 10px 40px;
                right: 0;
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    background-color: #1960d1;
                }
            }
        }

        .no-favorites-publications{
            text-align: center;
            
        }

        .loader{
            display: flex;
            align-items: center;
     
        }

        .products-favorites-profile{
            background-color: #282727;
            max-width: 900px;
            min-width: 250px;
            width: 85%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            @media (max-width: 475px) {
                width: 100%;
            }

            .products-favorites-main-profile{
                display: flex;
                justify-content: center;
                align-items: center;
             
                
                width: 100%;
                height: 215px;
                color: black;
                @media (max-width: 1300px) {
                    width: 900px;
                }
                @media (max-width: 1200px) {
                    width: 800px;
                }
                @media (max-width: 1000px) {
                    width: 700px;
                }
                @media (max-width: 800px) {
                    width: 600px;
                }
                @media (max-width: 700px) {
                    width: 500px;
                }
                @media (max-width: 600px) {
                    width: 100%;
                    height: 190px;
                    left: 45px; 
                }
                @media (max-width: 425px) {
                    
                }

                .product-favorites-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                 
                    
                    .img-favorites-div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70%;
                        height: 170px;  
                        background-color: #ffffff;
                        @media (max-width: 700px) {
                            width: 80%;
                        }
                        

                        .image-favorites-item{
                            width: 90%;
                            height: 145px;
                            @media (max-width: 700px) {
                                width: 100%;
                            }
                            @media (max-width: 600px) {
                                height: 120px;
                            }
                        }
                    }
                }

                .product-favorites-info-profile{
                    width: 70%;
                    display: flex;
                    align-items: center;

                    .product-favorites-info-profile-item{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        height: 170px;
                  
                       
                        @media (max-width: 600px) {
                            height: 140px;
                            flex-direction: column;
                        }
                        @media (max-width: 475px) {
                            height: 130px;
                            width: 80%;
                        }

                        .product-favorites-info-left{
                            height: 100%;
                            width: 350px;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            
                            .product-favorites-info-left-top{
                                @media (max-width: 700px) {
                                    width: 250px;
                                }
                                @media (max-width: 425px) {
                                    width: 200px;
                                }
                                @media (max-width: 375px) {
                                    width: 175px;
                                }
                                .product-favorites-info-name{
                                    white-space: normal;
                                    font-size: 1.2rem;
                                    color: #ffffff;
                                    @media (max-width: 700px) {
                                        font-size: 1.1rem;
                                    }
                                    @media (max-width: 600px) {
                                        font-size: 1rem;
                                    }
                                    @media (max-width: 475px) {
                                        margin-bottom: 10px;
                                       
                                    }
                                }
                            }

                            .product-favorites-info-left-center{
                                .not-favorites-price{
                                    font-size: 0.9rem;
                                    text-decoration: line-through;
                                    color: #ffffff;
                                    @media (max-width: 600px) {
                                        font-size: 0.8rem;
                                    }
                                }

                                .product-favorites-priceoff{
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;

                                    .real-favorites-price{
                                        font-size: 1.2rem;
                                        color: #ffffff;
                                        @media (max-width: 600px) {
                                            font-size: 1rem;
                                        }
                                    }

                                    .off-favorites{
                                        color: #c06011;
                                        font-weight: 600;
                                        @media (max-width: 600px) {
                                            font-size: 0.9rem;
                                        }
                                    }

                                    svg{
                                        color: #c06011;
                                        width: 25px;

                                        @media (max-width: 600px) {
                                            width: 20px;
                                        }
                                    }
                                }
                            }

                            .product-favorites-info-left-bottom{
                                .product-favorites-delivery{
                                    font-weight: 500;
                                    color: #238b34;
                                }
                            }
                        }

                        .product-favorites-info-right{
                            height: 60%;
                            display: flex;
                            margin-right: 20px;

                            .product-favorites-info-right-main{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                justify-content: space-between;
                                position: relative;
                                @media (max-width: 600px) {
                                    flex-direction: row;
                                    gap: 20px;
                                }

                                .div-favorites-heart{
                                    display: flex;
                                    align-items: center;
                                    
                                    .heart-products-div{
                                        display: flex;
                                        
                                        .heart-products{
                                            color: black;
                                            opacity: 0.6;
                                            font-size: 1.5rem;

                                            &:hover{
                                                color: rgb(218, 68, 68);
                                            }
                                        }

                                    }

                                    .heart-broken-div{
                                        display: flex;

                                        .icon-broken{
                                            display: none;
                                        }
                                        
                                        .heart-broken{
                                            font-size: 1.5rem;
                                            color: rgb(218, 68, 68);
                                        }

                                        &:hover{
                                            .heart-broken{
                                                display: none;
                                            }

                                            .icon-broken{
                                                display: block;
                                                font-size: 1.5rem;
                                                color: rgb(218, 68, 68);
                                            }
                                        }
                                    }
                                  

                                    &:hover{
                                        .heart-favorites-profile{
                                            opacity: 1;
                                        }

                                       
                                    }

                                    
                                }

                                .div-favorites-cart{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    
                                    opacity: 0.7;
                                    
                                    .cart-favorites-profile{
                                        font-size: 1.8rem;
                                        color: #ffffff;
                                    }

                                    &:hover{
                                        opacity: 1;
                                    }

                                    .arrow-cart{
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                    }
                                }

                                &:hover{
                                    
                                }
                            }
                        }
                    }
                }
            }
        }

        .products-favorites-profile:hover{
            background-color: #413f3f;
            transition: background-color 0.3s ease 0.1s
        }
    }
}

.favorites-alt{
    align-items: flex-start;
    margin-top: 15px;

    .main-alt{
        justify-content: flex-start;
    }
}