.menu-Responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 999;
    background-color: #000000;
    padding: 20px;
    color: azure;
    border: 1px solid #737373;

    .buttonsResponsive{

        .buttonResponsive{
            color: #ffffff;
            text-decoration: none;
    
            div{
                padding: 10px 0;
            }
        }
    }
}