.notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    max-width: 1150px;
    height: auto;

    .main-notifications{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        height: 100%;

        .notifications-options{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            margin: 15px 0;

            .title-notifications{
                font-size: 2rem;
            }

            .create-product{
                position: absolute;
                background-color: #2879fe;
                padding: 10px 40px;
                right: 0;
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    background-color: #1960d1;
                }
            }
        }

        .products-notifications-profile{
            
            margin: 15px 0;
            text-decoration: none;
            width: 80%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #ffffff;

            .products-main-profile-notifications{
                display: flex;
                align-items: center;
                position: relative;
                background-color: #ffffff;
                width: 100%;
                height: 55px;
                color: black;
                cursor: pointer;

                .notification-elements{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 10px;
                    width: 100%;

                    .product-info-profile-notifications{
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .div-point-noti{
                            display: flex;
                            
                            .point-noti{
                                color: green;
                            }
                        }
    
                        .welcome-dirstore{
                            font-size: 1.2rem;
                        }
                    }

                    .welcome-date{
                        display: flex;
                        color: #858080;
                    }
                }

                .line{
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(-90deg, #858080, #00000000 100%);
                    bottom: 0;
                    position: absolute;
                }
            }

            .notification-description{
                padding: 0;
                display: none;
                flex-direction: column;
                margin: 8px 10px;
                gap: 10px;

                .notification-info-description{
                    display: flex;
                  
                    .noti-desc{
                        
                    }
                }

                .notification-trash-can{
                    display: flex;
                    justify-content: flex-end;

                    .container-trash{
                        display: flex;
                
                        .spancito{
                            display: flex;
                            justify-content: center;
                            
                            @keyframes animate{
                                0%{
                                    background-position: 0%;
                                }
                                100%{
                                    background-position: 400%;
                                }
                            }

                            .trash-can{
                                cursor: pointer;
                                font-size: 1.2rem;                
                            }
                        }

                        .spancito:hover{
                            color: crimson;
                        }
                    }
                }
            }

            .noti-open{
                display: flex;
            }
        }
    }
}

.notifications-alt{
    align-items: flex-start;
    margin-top: 15px;

    .main-notifications-alt{
        justify-content: flex-start;
    }
}