.notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: auto;

    .main-notifications{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        height: 100%;

        .notifications-options{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            margin: 15px 0;

            .title-notifications{
                font-size: 2rem;
            }

            .create-product{
                position: absolute;
                background-color: #2879fe;
                padding: 10px 40px;
                right: 0;
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    background-color: #1960d1;
                }
            }
        }

        .products-notifications-profile{
            
            margin: 15px 0;
            text-decoration: none;
            width: 100%;

            display: flex;
            justify-content: center;

            .products-main-profile-notifications{
                display: flex;
                align-items: center;
                background-color: #ffffff;
                width: 70%;
                height: 55px;
                color: black;

                .product-info-profile-notifications{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;

                    .div-point-noti{
                        display: flex;
                        
                        .point-noti{
                            color: green;
                        }
                    }

                    .welcome-dirstore{
                        font-size: 1.2rem;
                    }
                }
                
            }
        }
    }
}

.favorites-alt{
    align-items: flex-start;
    margin-top: 15px;

    .main-alt{
        justify-content: flex-start;
    }
}