.publications{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 850px;  
    width: 100%;

    .main-publications{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;

        .publications-options{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .title-publications{
                font-size: 2rem;
                
            }
        }

        .no-publications{
            text-align: center;
        }

        .create-product{
            background-color: #2879fe;
            padding: 10px 40px;
            text-decoration: none;
            color: #ffffff;

            &:hover{
                background-color: #1960d1;
            }
        }

        .products-profile{
            max-width: 900px;
            min-width: 250px;
            width: 85%;
            text-decoration: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 20px;
            @media (max-width: 550px) {
                width: 100%;
            }

            .products-main-profile{
                background-color: #282727;
                display: flex;
                width: 100%;
                position: relative;
                height: 180px;
                @media (max-width: 550px) {
                    
                }
                
                // @media (max-width: 525px) {
                //     width: 400px;
                // }
                // @media (max-width: 475px) {
                //     width: 360px;
                // }
                // @media (max-width: 425px) {
                //     width: 325px;
                // }
                // @media (max-width: 375px) {
                //     width: 280px;
                // }
                // @media (max-width: 320px) {
                //     width: 250px;
                // }

                .product-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
           
                    @media (max-width: 475px) {
                        width: 35%;
                    }
                    
                    .img-div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70%;
                        height: 150px;  
                        background-color: #ffffff;

                        .image-item{
                            width: 90%;
                            height: 145px;
                            @media (max-width: 475px) {
                                height: 110px;
                                
                            }
                        }
                    }
                }

                .product-info-profile{
                    width: 70%;
                    display: flex;
                    align-items: center;
                    @media (max-width: 475px) {
                        width: 65%;
                    }

                    .product-info-profile-item{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        height: 100%;
                        @media (max-width: 475px) {
                            flex-direction: column;
                        }

                        .product-info-left{
                            height: 100%;
                            width: 350px;
                            display: flex;
                            flex-direction: column;
                            padding-top: 15px;
                            justify-content: space-between;
                            
                            
                            .product-info-left-top{
                               
                                .product-info-name{
                                    font-size: 1.2rem;
                                    
                                    color: #ffffff;
                                    width: fit-content;
                                    @media (max-width: 475px) {
                                        min-width: 100px;
                                        max-width: 150px;
                                    }
                                }
                            }

                            .product-info-left-center{
                                .not-price{
                                    font-size: 0.9rem;
                                    text-decoration: line-through;
                                }

                                .product-priceoff{
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;

                                    .real-price{
                                        font-size: 1.2rem;
                                    }

                                    .off{
                                        color: #c06011;
                                        font-weight: 600;
                                    }
                                }
                            }

                            .product-info-left-bottom{
                                .product-delivery{
                                    font-weight: 600;
                                    color: #238b34;
                                }
                            }
                        }

                        .product-info-right{
                            height: 100%;
                            display: flex;
                            margin-right: 20px;
                            padding: 15px 0;

                            .product-info-right-main{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                justify-content: space-between;
                                position: relative;
                            
                                @media (max-width: 475px) {
                                    justify-content: flex-end;
                                }

                                .div-heart{
                                    display: flex;
                                    gap: 5px;
                                    justify-content: center;
                                    align-items: center;
                                    @media (max-width: 475px) {
                                        display: none;
                                    }
                                    
                                    .div-rocket{
                                        .heart-profile{
                                            font-size: 1.5rem;
                                            opacity: 0.7;
                                            color: #ffffff;
                                        }

                                        &:hover{
                                            .heart-profile{
                                                opacity: 1;
                                            }
    
                                            .rocket{
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }
                                        }
    
                                        .rocket{
                                            position: absolute;
                                            background-color: #181818;
                                            top: -35px;
                                            width: fit-content;
                                            padding: 5px;
                                            right: 0px;
                                            display: none;
                                            color: rgba(255, 255, 255, 0.5);
                                            letter-spacing: -0.5px;
                                            font-size: 14px;
                                        }
                                    }

                                    .div-pause{
                                        &:hover{
                                            svg{
                                                opacity: 1;
                                            }
    
                                            .pause{
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }
                                        }

                                        .pause{
                                            position: absolute;
                                            background-color: #181818;
                                            top: -35px;
                                            width: fit-content;
                                            padding: 5px;
                                            right: -30px;
                                            display: none;
                                            color: rgba(255, 255, 255, 0.5);
                                            letter-spacing: -0.5px;
                                            font-size: 14px;
                                        }

                                        svg{
                                            
                                            opacity: 0.7;
                                            color: #d71212;
                                        }
                                    }

                                    .div-nostock{
                                        &:hover{
                                            svg{
                                                opacity: 1;
                                            }
    
                                            .nostock{
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                            }
                                        }

                                        .nostock{
                                            position: absolute;
                                            background-color: #181818;
                                            top: -35px;
                                            width: fit-content;
                                            padding: 5px;
                                            right: -20px;
                                            display: none;
                                            color: rgba(255, 255, 255, 0.5);
                                            letter-spacing: -0.5px;
                                            font-size: 14px;
                                        }

                                        svg{
                                            width: 20px;
                                            opacity: 0.7;
                                            color: #d71212;
                                        }
                                    }
                                }

                                .div-cart{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 5px;
                                    opacity: 0.7;
                                    @media (max-width: 475px) {
                                        padding: 0;
                                    }
                                    
                                    .mas-informacion{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #ffffff;
                                        width: fit-content;
                                        white-space: nowrap;
                                    }

                                    .products-favorites-profile:hover{
                                        background-color: #b7bdc6;
                                       
                                    }

                                    &:hover{
                                        opacity: 1;
                                        cursor: pointer;
                                    }

                                    .arrow-cart{
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #ffffff;
                                    }

                                    .arrow-up-cart{
                                        display: block;
                                        color: #ffffff;
                                    }

                                    .arrow-cart-vanish{
                                        display: none;
                                    }

                                    .arrow-up-vanish{
                                        display: none;
                                    }
                                }

                                &:hover{
                                    
                                }
                            }
                        }
                    }
                }
            }

            .publication-details{
                display: none;
                opacity: 0;
                position: relative;
                min-height: 12rem;
                background-color: #181818;
                color: #ffffff;

                .publication-buttons{
                    display: flex;
                    position: absolute;
                    justify-content: flex-end;
                    align-items: center;
                    right: 2.5%;
                    gap: 10px;
                    font-size: 1.1rem;
                    padding-top: 25px;
                    @media (max-width: 800px) {
                        position: relative;
                        justify-content: flex-start;
                        right: 0;
                        padding-left: 25px;
                    }
                    @media (max-width: 475px) {
                        flex-direction: column;
                        padding-left: 0;
                        align-items: flex-start;
                        padding-left: 25px;
                    }

                    .shipping{
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;
                        .publication-shipping{
                            opacity: 0.6;
                            cursor: pointer;
                        }
                        
                        .check-button{
                            color: rgb(100, 213, 0);
                            margin-right: 15px;
                        }

                        .check-button-white{
                            margin-right: 15px;
                        }
                    }
                   

                    .icons-main{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        .icons-pen-container{
                            display: flex;
                            position: relative;
                            .icons-pen{
                                opacity: 0.6;
                                cursor: pointer;
                            }
    
                            &:hover{
                                .icons-pen{
                                    opacity: 1;
                                }
    
                                .icons-pen-edit{
                                    opacity: 1;
                                    display: block;
                                }
                            }
    
                            .icons-pen-edit{
                                display: none;
                                opacity: 0;
                                position: absolute;
                                top: -35px;
                                width: fit-content;
                                padding: 5px;
                                right: -55px;
                                background-color: #181818;
                                color: rgba(255, 255, 255, 0.5);
                                font-size: 14px;
                                white-space: nowrap;
                                letter-spacing: -0.5px;
                            }
                        }
    
                        .icons-disc-container{
                            display: flex;
                            position: relative;
                            .icons-disc{
                                font-size: 22px;
                                opacity: 0.6;
                                cursor: pointer;
                            }
        
                            &:hover{
                                .icons-disc{
                                    opacity: 1;
                                }
    
                                .icons-disc-desc{
                                    opacity: 1;
                                    display: block;
                                }
                            }
    
                            .icons-disc-desc{
                                display: none;
                                opacity: 0;
                                position: absolute;
                                top: -35px;
                                width: fit-content;
                                padding: 5px;
                                right: -55px;
                                background-color: #181818;
                                color: rgba(255, 255, 255, 0.5);
                                font-size: 14px;
                                white-space: nowrap;
                                letter-spacing: -0.5px;
                            }
                        }
                        
                        .icons-play-container{
                            display: flex;
                            position: relative;
                            .icons-play{
                                font-size: 22px;
                                opacity: 0.6;
                                cursor: pointer;
                            }

                            .icons-pause{
                                font-size: 22px;
                                opacity: 0.6;
                                cursor: pointer;
                            }
        
                            &:hover{
                                .icons-play{
                                    opacity: 1;
                                }
    
                                .icons-play-play{
                                    opacity: 1;
                                    display: block;
                                }
                            }
    
                            .icons-play-play{
                                display: none;
                                opacity: 0;
                                position: absolute;
                                top: -35px;
                                width: fit-content;
                                padding: 5px;
                                right: -55px;
                                background-color: #181818;
                                color: rgba(255, 255, 255, 0.5);
                                font-size: 14px;
                                white-space: nowrap;
                                letter-spacing: -0.5px;
                            }
                        }
                    }

                    
                    
                }

                .publication-calification{
                    display: flex;
                    padding-top: 20px;
                    align-items: center;
                    margin-left: 25px;
                    @media (max-width: 475px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .current-calification{
                        font-size: 1.2rem;
                        opacity: 0.6;
                    }
                    
                    .calification-stars{
                        
                        @media (max-width: 475px) {
                            display: flex;
                            align-items: flex-start;
                        }
                        .calification-container{
                            
                            font-size: 1rem;
                            height: 2rem;
                            scale: .6;
                            width: 10rem;
                            @media (max-width: 475px) {
                                display: flex;
                                width: fit-content;
                                scale: 1;
                            }

                            .star{
                                font-size: 1.7rem;
                                color: #a3a9b3;
                            }
                        }

                        .calification-container:hover{
                            
                        }
                    }
                }

                .publication-store{
                    width: fit-content;
                    margin-left: 25px;
                    font-size: 14px;
                    letter-spacing: -0.5px;
                    border-bottom: 1px dotted #ffffff;
                    margin-bottom: 15px;
                    opacity: 0.6;
                }

                .publication-store:hover{
                    opacity: 1;
                    cursor: pointer;
                }

                .moreinfo{
                    display: flex;
                    margin-left: 25px;
                    font-size: 1.2rem;

                    .text{
                        opacity: 0.6;
                    }

                    .moreinfo-results{
                        margin-left: 25px;
                    }
                }

                .sales-metrics-graph{
                    display: flex;
                    width: 93%;
                    margin-left: 25px;
                    margin-bottom: 15px;
                    .sales-metrics-graph-container{
                        
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        height: 20rem;
                        width: 100%;
                        padding: 4rem 4rem 0 4rem;
                        overflow-y: visible;
                        background-color: #181818;
                        overflow-x: auto;
                        
                        
                        span{
                            position: absolute;
                            top: 1.5rem;
                            left: 0;
                            margin: 0;
                            padding: 0;
                            color: #888888;
                            pointer-events: none;
                        }
                    }
                }
            }

            .publication-details-open{
                opacity: 1;
                display: block;
                transition: opacity 0.1s, height 0.25s;
                @media (max-width: 475px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            .sales-metrics-graph {
                position: relative;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                height: 20rem;
                width: 100%;
                padding: 4rem 4rem 0 4rem;
                overflow-y: visible;
                overflow-x: auto;
                border-bottom: 1px solid #FFFFFF50;

                .sales-metrics-graph span {
                    position: absolute;
                    top: 1.5rem;
                    left: 0;
                    margin: 0;
                    padding: 0;
                    color: #888888;
                    pointer-events: none;
                }

                .sales-metrics-graph-bar {
                    position: relative;
                    width: 1rem;
                    margin: 0 2px;
                    border: 2px solid #101010;
                    border-bottom: none;
                    border-radius: .5rem .5rem 0 0;
                }

                .sales-metrics-graph-bar:hover {
                border: 2px solid #ffffff;
                border-bottom: none;
                }

                .metrics-tooltip {
                position: absolute;
                opacity: 0;
                top: -4rem;
                left: 50%;
                translate: -50%;
                z-index: 40;
                height: fit-content;
                white-space: nowrap;
                padding: .5rem 1rem;
                font-size: 1rem;
                text-align: left;
                pointer-events: none;
                background-color: #101010;
                color: #ffffff80;
                font-family: HelveticaNeueLTPro-Th;
                }

                .sales-metrics-graph-bar:hover > .metrics-tooltip {
                opacity: 1;
                }

                .metric-graph-indicator {
                width: 100%;
                height: 1px;
                pointer-events: none;
                border-top: #8888886a dashed 1px;
                position: absolute;
                left: 0;
                top: calc(4rem + 1%);
                color: #888888;
                font-family: HelveticaNeueLTPro-Th;
                font-size: 1rem;
                }
            }
        }
    }
}

.publications-alt{
    align-items: flex-start;
    margin-top: 15px;

    .main-alt{
        justify-content: flex-start;
    }
}