.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    margin-top: 89px;
    margin-bottom: 89px;
    padding: 20px 135px 30px 135px;
    border: 1px solid #ccc;
    font-family: "Nunito Sans", sans-serif;
    @media (max-width: 540px) {
        max-width: 100%;
        width: 130px;
    }
    @media (max-width: 450px) {
        width: 60px;
    }
    @media (max-width: 375px) {
        width: 30px;
    }
    @media (max-width: 320px) {
        width: 0px;
    }

    .title-register{
        font-size: 26px;
        @media (max-width: 450px) {
            display: flex;
            justify-content: center;
            font-size: 24px;
            width: 150px;
        }
        @media (max-width: 375px) {
            font-size: 23px;
        }
    }

    .form-reg{
        display: flex;
        flex-direction: column;
        align-items: center;

        .login-reg{
            margin-bottom: 30px;
            color: #404040;
        }

        input{
            width: 325px;
            height: 35px;
            border: 1px solid #c1d0d9;
            border-radius: 8px;
            @media (max-width: 450px) {
                width: 240px;
            }
            @media (max-width: 375px) {
                width: 200px;
            }

        }

        .sign{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 40px;
            border: none;
            background-color: #2879fe;
            color: white;
            border-radius: 5px;
            @media (max-width: 450px) {
                width: 180px;
            }
            @media (max-width: 375px) {
                width: 150px;
            }
        }
    }

    .new{
        color: #404040;
        width: 250px;

        .log-link{
            text-decoration: none;
            color: #035dd9;
        }
    }

}