.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 89px;
    margin-bottom: 89px;
    padding: 20px 135px 30px 135px;
    border: 1px solid #ccc;
    font-family: "Nunito Sans", sans-serif;

    h1{
        font-size: 26px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;

        .log{
            margin-bottom: 30px;
            color: #404040;
        }

        input{
            width: 325px;
            height: 35px;
            border: 1px solid #c1d0d9;
            border-radius: 8px;
        }

        .sign{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 40px;
            border: none;
            background-color: #2879fe;
            color: white;
            border-radius: 5px;
        }
    }

    .new{
        color: #404040;
        width: 250px;
        .log-link{
            text-decoration: none;
            color: #035dd9;
        }
    }

}