.sales{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 850px;
    margin-bottom: 30px;
    width: 100%;

    .main-sales{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;

        .sales-options{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .title-sales{
                font-size: 2rem;
            }
        }

        .no-publications{
            text-align: center;
        }

        .create-product{
            background-color: #2879fe;
            padding: 10px 40px;
            text-decoration: none;
            color: #ffffff;

            &:hover{
                background-color: #1960d1;
            }
        }

        .products-profile-sales{
            background-color: #282727;
            max-width: 900px;
            min-width: 250px;
            width: 85%;

            .products-main-profile-sales{
                display: flex;
                width: 100%;
                padding: 20px 0;
                
                @media (max-width: 700px) {
                    flex-direction: column;
                }
               

                .product-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    
                    @media (max-width: 700px) {
                        width: 90%;
                        margin: 0 auto;
                    }
           
                    @media (max-width: 475px) {
                       
                    }
                    
                    .img-div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70%;
                        height: 170px;  
                        background-color: #ffffff;
                        @media (max-width: 700px) {
                            width: 100%;
                        }

                        .image-item{
                            width: 70%;
                            height: 115px;
                            @media (max-width: 475px) {
                                
                                
                            }
                        }
                    }
                }

                .product-sales-profile{
                    width: 70%;
                    display: flex;
                    align-items: center;
                   
                    @media (max-width: 700px) {
                        width: 90%;
                        margin: 0 auto;
                    }
                    @media (max-width: 475px) {
                       
                    }

                    .product-sales-profile-item{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        @media (max-width: 700px) {
                            margin: 12.5px 0;
                        }
                        @media (max-width: 475px) {
                            gap: 5px;
                            flex-direction: column;
                        }

                        .product-sales-left{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            .product-sales-left-top{
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .product-sales-name{
                                    color: #ffffff;
                                    font-size: 1    rem;                                 
                                }
                            }
                        }

                        .product-sales-right{
                            display: flex;
                            margin-right: 15px;
                            align-items: center;
                            @media (max-width: 700px) {
                                margin-right: 0;
                            }

                            .product-sales-right-main{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                justify-content: space-between;
                                position: relative;
                                @media (max-width: 475px) {
                                    flex-direction: row;
                                }

                                .div-heart{
                                    color: #ffffff; 
                                    font-weight: bold;
                                }
                            }
                        }

                        .product-sales-mid{
                            display: flex;
                    
                            .product-sales-mid-center{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            .delivered{
                display: flex;
                width: 100%;
                justify-content: center;
                padding: 20px 0;
                color: #238b34;
            }
        }
    }
}

.sales-alt{
    align-items: flex-start;
    margin-top: 15px;

    .main-alt{
        justify-content: flex-start;
    }
}