.main-product-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee7e7;

    .top-product{
        margin: 20px 0 0 0; 
        display: flex;
        width: 72%;
        justify-content: flex-start;
        font-size: 2.5rem;
        align-items: center;
        gap: 10px;
        @media (max-width: 1150px) {
            width: 95%;
        }

        .arrow-left{
            font-size: 1.7rem;
            display: flex;
            color: #000000;
            text-decoration: none;
            align-items: center;
            justify-content: center;
        }
    }

    .items{
       display: flex;
       width: 72%;
       margin-top: 20px;
       border-radius: 15px;
       flex-direction: row;
        @media (max-width: 1150px) {
            width: 95%;
        } 
        @media (max-width: 768px) {
            flex-direction: column;
        }
        
        .items-container{
            width: 65%;
            
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media (max-width: 768px) {
                width: 100%;    
                margin-bottom: 20px;
            }
            
            .items-info{
                display: flex;
                width: 100%;
                flex-direction: column;
                background-color: #ffffff;
                border-radius: 15px;
                @media (max-width: 1024px) {
                    width: 100%;
                }

                .item{
                    display: flex;
                    flex-direction: row;
                    height: 150px;
                    width: 100%;
                    align-items: center;
                    @media (max-width: 880px) {
                        border: none;
                    }          
                    @media (max-width: 648px) {
                        margin-right: 50px;
                    }       
                    @media (max-width: 425px) {
                        height: 120px;
                    }   
        
                    .image{
                        width: 15%;
                        height: 80%;
                        margin-left: 2%;
                        @media (max-width: 768px) {
                            width: 90px;
                            height: 80px;

                        } 
                        @media (max-width: 475px) {
                            
                        } 
                    }
        
                    .details{
                        display: flex; 
                        width: 50%; 
                        margin-left: 2%;
                        flex-direction: column;

                        h1{
                            font-size: 16px;
                            opacity: 0.70;
                            @media (max-width: 648px) {
                                font-size: 14px;
                            } 
                            @media (max-width: 475px) {
                                font-size: 13px;
                            }
                            @media (max-width: 375px) {
                                
                            }
                        }
        
                        .color-size{
                            padding-bottom: 5px;
                            opacity: 0.60;
                            @media (max-width: 648px) {
                                font-size: 15px;
                            } 
                            @media (max-width: 475px) {
                                font-size: 13px;
                            }
                            @media (max-width: 375px) {
                                font-size: 12px;
                            }
                        }
        
                        .delete{
                            color: #5684FD;
                            @media (max-width: 648px) {
                                font-size: 15px;
                            } 
                            
                            @media (max-width: 475px) {
                                font-size: 13px;
                            }
                            @media (max-width: 375px) {
                                font-size: 12px;
                            }
                        }
                    }

                    .quantity-price{
                        display: flex;
                        width: 25%;
                        @media (max-width: 868px) {
                            flex-direction: column;
                        }
                        @media (max-width: 568px) {
                            flex-direction: column;
                            margin-left: 0px;
                        } 
                        @media (max-width: 375px) {
                            flex-direction: column;
                            width: 30%;
                            margin-left: 0px;
                        } 

                        .quantity{
                            display: flex;                   
                            width: 100%;
                            gap: 5px;
                            color: #5684FD;
                            @media (max-width: 868px) {
                                justify-content: center;
                                gap: 0;
                            }                                             
                            
                            @media (max-width: 475px) {
                                font-size: 13px;
                            }
                        
                            .but{
                                width: 20px;
                            }

                            .quan{
                                display: flex;
                                justify-content: center;
                                width: 25px;
                            }
                        }
            
                        .price{
                            font-weight: 600;
                            margin-right: 5%;
                            opacity: 0.8;
                             
                            @media (max-width: 1024px) {
                                margin-left: 0px;
                            }
                            @media (max-width: 880px) {
                                display: flex;
                                justify-content: center;
                            }
                            
                            @media (max-width: 648px) {
                                font-size: 15px;
                            }
                            @media (max-width: 475px) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .blank{
                height: 389px;
                background-color: transparent;
            }
       }

        .subtotal{
            width: 30%;
            height: 389px;
            background-color: white;
            border-radius: 15px;
            margin-left: 20px;
            margin-bottom: 20px;
            @media (max-width: 1240px) {
                width: 35%;
            }
            @media (max-width: 768px) {
                width: 60%;
                margin-left: 0;
                height: 220px;
            }
            @media (max-width: 648px) {
                width: 100%;
                margin-left: 0;
            }
            
            .summary{
                display: flex;
                flex-direction: column;

                .ord-sum{
                    padding: 20px 0 15px 20px;
                    font-weight: bold;
                }

                .subprice{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    opacity: 0.60;
                    @media (max-width: 880px) {
                        font-size: 15px;
                    }   
                    
                    @media (max-width: 475px) {
                        font-size: 13px;
                    }

                    .subtot{
                        padding: 0 0 15px 20px;
                    }

                    .totprice{
                        padding-right: 20px;
                    }
                }
            }

            .tot{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                font-size: 23px;
                font-weight: 600;
                opacity: 0.75;
                @media (max-width: 880px) {
                    font-size: 20px;
                }
                @media (max-width: 648px) {
                    font-size: 18px;
                } 
                
                @media (max-width: 475px) {
                    font-size: 16px;
                }

                .tot-total{
                    padding: 20px 0 15px 20px;
                }

                .tot-price{
                    padding: 20px 20px 15px 0;
                }
            }

            .checkout-tot{
                display: flex;
                justify-content: center;
                align-items: center;
                .button-check{
                    border-radius: 30px;
                    background-color: #5684FD;
                    border: none;
                    text-decoration: none;
                    padding: 12px 70px;
                    color: white;
                    font-family: "Nunito Sans", sans-serif;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin: 15px 0;
                    @media (max-width: 1480px) {
                        font-size: 15px;
                        padding: 12px 50px;
                    }
                    @media (max-width: 1240px) {
                        font-size: 13px;
                        padding: 12px 45px;
                        letter-spacing: 0.8px;
                    }
                    @media (max-width: 1060px) {
                        padding: 12px 40px;
                    }
                    @media (max-width: 880px) {
                        padding: 12px 30px;
                    }
                    @media (max-width: 475px) {
                        padding: 12px 20px;
                        font-size: 12px;
                    }
                }
            }

            .address{
                display: flex;
                justify-content: center;
                margin-top: 30px;
                color: #5684FD;
                text-decoration: underline;
                cursor: pointer;
                @media (max-width: 1350px) {
                    font-size: 0.9rem;
                }
                @media (max-width: 868px) {
                    display: flex;
                    justify-content: center;
                    font-size: 0.75rem;
                }
                
            }
        }
    }
}