.main-product{
    display: flex;
    flex-direction: column;

    .items{
       display: flex;
       width: 72%;
       border-radius: 15px;
       flex-direction: column;
       @media (max-width: 880px) {
        flex-direction: column;
       }
       
       
        .items-info{
            display: flex;
            width: 65%;
            flex-direction: column;
            background-color: white;
            border-radius: 15px;
            margin-bottom: 10px;
            @media (max-width: 1280px) {
                
            }
            @media (max-width: 1024px) {
                width: 100%;
            }


            .item{
                display: flex;
                flex-direction: row;
                height: 150px;
                width: 100%;
                align-items: center;
                justify-content: center;
                @media (max-width: 768px) {
                   
                }
                
                @media (max-width: 880px) {
                    border: none;
                }          
                @media (max-width: 648px) {
                    margin-right: 50px;
                }         
                @media (max-width: 568px) {
                    
                }  
                @media (max-width: 475px) {
                    
                }
    
                .image{
                    width: 100px;
                    height: 100px;
                    padding: 35px 15px 20px 0;  
                    @media (max-width: 1450px) {
                        padding: 35px 15px 20px 30px;
                    }  
                    @media (max-width: 768px) {
                        width: 90px;
                        height: 90px;
                        padding: 25px 15px 20px 40px;
                    }
                    @media (max-width: 648px) {
                        width: 80px;
                        height: 80px;
                        padding: 25px 15px 20px 70px;
                    }    
                    @media (max-width: 568px) {
                        
                    } 
                    @media (max-width: 475px) {
                        width: 80px;
                        height: 80px;
                    } 
                    @media (max-width: 375px) {
                        width: 70px;
                        height: 70px;
                    }
                    @media (max-width: 320px) {
                        padding: 25px 15px 20px 80px;
                    }
                }
    
                .details{
                    display: flex; 
                    width: 430px; 
                    flex-direction: column;
                    @media (max-width: 1490px) {
                        width: 380px;
                    }
                    @media (max-width: 1460px) {
                        width: 300px;
                    }

                    h1{
                        font-size: 16px;
                        opacity: 0.70;
                        @media (max-width: 648px) {
                            font-size: 14px;
                        } 
                        @media (max-width: 475px) {
                            font-size: 12px;
                        }
                        @media (max-width: 375px) {
                            font-size: 11px;
                        }
                    }
    
                    .color-size{
                        padding-bottom: 5px;
                        opacity: 0.60;
                        @media (max-width: 648px) {
                            font-size: 15px;
                        } 
                        @media (max-width: 475px) {
                            font-size: 13px;
                        }
                        @media (max-width: 375px) {
                            font-size: 12px;
                        }
                    }
    
                    .delete{
                        color: #5684FD;
                        @media (max-width: 648px) {
                            font-size: 15px;
                        } 
                         
                        @media (max-width: 475px) {
                            font-size: 13px;
                        }
                        @media (max-width: 375px) {
                            font-size: 12px;
                        }
                    }
                }
                .quantity-price{
                    display: flex;
                    
                    @media (max-width: 1024px) {
                       
                    }
                    @media (max-width: 880px) {
                        flex-direction: row;
                    }
                    @media (max-width: 768px) {
                        
                    }
                    @media (max-width: 648px) {
                        margin-right: 50px;
                    }
                    @media (max-width: 568px) {
                        flex-direction: column;
                        margin-left: 0px;
                    } 
                    .quantity{
                        display: flex;                   
                        gap: 2px;
                        color: #5684FD;
                        @media (max-width: 1460px) {
                           
                            width: 70px;
                        }
                        @media (max-width: 1360px) {
                            
                        }
                        @media (max-width: 1180px) {
                            
                        }
                        @media (max-width: 1110px) {
                            
                        }
                        @media (max-width: 1024px) {
                            margin-left: 150px;
                        }
                        @media (max-width: 768px) {
                            margin-left: 130px;
                        }
                        @media (max-width: 648px) {
                            font-size: 15px;
                            margin-left: 70px;
                        } 
                         
                        @media (max-width: 475px) {
                            font-size: 13px;
                        }
                         
                        @media (max-width: 425px) {
                            margin-left: 40px;
                        }
                        @media (max-width: 375px) {
                            margin-left: 20px;
                            font-size: 11px;
                        }
    
                        .quantity-blue{
                            color: #5684FD;
                        }
                    }
        
                    .price{
                        padding-left: 50px;
                        font-weight: 600;
                        opacity: 0.8;
                        @media (max-width: 1450px) {
                            padding-right: 40px;
                        }  
                        @media (max-width: 1024px) {
                            margin-left: 0px;
                        }
                        @media (max-width: 880px) {
                            margin-left: 0px;
                        }
                        @media (max-width: 768px) {
                            padding-left: 30px;
                        }
                        @media (max-width: 648px) {
                            font-size: 15px;
                        }
                        @media (max-width: 568px) {
                            margin-left: 70px;
                        }  
                        @media (max-width: 475px) {
                            font-size: 13px;
                        }
                        @media (max-width: 425px) {
                            margin-left: 30px;
                        }
                        @media (max-width: 375px) {
                            margin-left: 0px;
                            margin-left: 10px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    

       

        .subtotal{
            width: 30%;
            margin-top: 30px;
            background-color: white;
            border-radius: 15px;
            @media (max-width: 1240px) {
                width: 35%;
            }
            @media (max-width: 880px) {
                margin-top: 20px;
                margin-left: 0px;
                width: 50%;
                max-width: 100%;
            }
            @media (max-width: 648px) {
                width: 60%;
            }
            @media (max-width: 375px) {
                width: 100%;
            }

            .summary{
                display: flex;
                flex-direction: column;

                .ord-sum{
                    padding: 20px 0 15px 20px;
                    font-weight: bold;
                }

                .subprice{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    opacity: 0.60;
                    @media (max-width: 880px) {
                        font-size: 15px;
                    }   
                     
                    @media (max-width: 475px) {
                        font-size: 13px;
                    }

                    .subtot{
                        padding: 0 0 15px 20px;
                    }

                    .totprice{
                        padding-right: 20px;
                    }
                }
            }

            .tot{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                font-size: 23px;
                font-weight: 600;
                opacity: 0.75;
                @media (max-width: 880px) {
                    font-size: 20px;
                }
                @media (max-width: 648px) {
                    font-size: 18px;
                } 
                 
                @media (max-width: 475px) {
                    font-size: 16px;
                }

                .tot-total{
                    padding: 20px 0 15px 20px;
                }

                .tot-price{
                    padding: 20px 20px 15px 0;
                }
            }

            .checkout-tot{
                display: flex;
                justify-content: center;
                align-items: center;
                .button-check{
                    border-radius: 30px;
                    background-color: #5684FD;
                    border: none;
                    text-decoration: none;
                    padding: 12px 70px;
                    color: white;
                    font-family: "Nunito Sans", sans-serif;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin: 15px 0;
                    @media (max-width: 1480px) {
                        
                        font-size: 15px;
                        padding: 12px 50px;
                    }
                    @media (max-width: 1240px) {
                       
                        font-size: 13px;
                        padding: 12px 45px;
                        letter-spacing: 0.8px;
                    }
                    @media (max-width: 1060px) {
                      
                        padding: 12px 40px;
                    }
                    @media (max-width: 880px) {
                        padding: 12px 30px;
                    }
                    @media (max-width: 475px) {
                        padding: 12px 20px;
                        font-size: 12px;
                    }
                    @media (max-width: 475px) {
                        
                    }
                }
            }
        }
    }
}