.mainSuccess{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    // .gracias{
    //     border: 1px solid #3a3939;
    //     padding: 15px;
    //     background-color: black;
    //     color: #ffffff;
    // }
}