.modify-frame{
    display: flex;
    align-items: center;
    min-height: 680px;
    justify-content: center;

    .modify-frame-main{
        width: 400px;
        border: 1px solid rgba(180, 178, 178, 0.6);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 15px;

        .modify-title{
            h1{
                padding-top: 10px;
                font-weight: 500;
                font-size: 30px;
            }
        }

        .current-email{
            .current-email-main{
                font-size: 14px;
            }
        }

        .modify-info{
            .info-text{
                font-size: 14px;
            }
        }

        .modify-form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .modify-form-input{
                .new-email{
                    font-weight: 600;
                    padding: 2px 0;
                    font-size: 14px;
                }

                input{
                    width: 100%;
                    height: 30px;
                    border-radius: 5px;
                    padding-left: 10px;
                }
            }

            button{
                height: 30px;
                border-radius: 10px;
                cursor: pointer;
                background-color: burlywood;
                opacity: 0.9;
            }

            .cancel{
                background-color: #fff;
                opacity: 1;
            }

            button:hover{
                opacity: 1;
            }
        }
    
    }
}